@model Web_Client.Models.Candidate

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <img class="img-fluid float-left" src="@Model.Foto" alt="Image" />
        <div class="row">
            <h4>@Model.Nama  (@Model.Jurusan)</h4>
        </div>
        <div class="row">
            <h5>Visi:</h5>
        </div>
        <div class="row">
            <p>@Model.Visi</p>
        </div>
        <hr />
        <div class="row">
            <h5>Misi:</h5>
        </div>
        <div class="row">
            <p>@Model.Misi</p>
        </div>
    </div>
</div>
<hr />
